/* #4caf50 */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 70px;
    display: block;
    background-color: #101010;
}

.inner-header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container{
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
}

.logo-container h1 span{
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
}

.container-cover{
    background-image: url('../img/bg.jpg');
    width: 100%;
    height: 36em;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center !important;
}

.heading{
    padding-top: 8em;
    text-align: center !important;
}

.heading h1{
    font-size: 40px;
    color: white;
    font-family: cursive;
    opacity: 80%;
}